<%- include header %>
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 style="border-left: 5px solid #ff7300;padding-left: 20px;"><%= post.title %></h2>
        <p class="info">
          作者：<a href="/u/<%= post.name %>"><%= post.name %></a> | 
          日期：<%= post.time.minute %>
        </p>
    </div>
    <div class="panel-body">
        <p><%- post.post %></p>
    </div>
</div>
<%- include footer %>