<%- include header %>
<div class="container-fluid">
       <div style="padding-left:10px;">
   <% posts.forEach(function (post, index) { %>
       <div class="panel panel-default">
           <div class="panel-heading">
          <!--  <p>
           <a href="#">
           <%=post.title %>
           </a> | 作者：
           <a href="#">
           <%=post.name %>
           </a> | 日期：
           <%=post.time.minute %>
           </p> -->
           <p><h2 style="border-left: 5px solid #ff7300;padding-left: 20px;"><a href="u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a></h2></p>
           <p class="info">
               作者：<a href="u/<%= post.name %>"><%= post.name %></a> |
               日期：<%= post.time.minute %>
             </p>
           </div>
           <div class="panel-body">
           <p style="max-height: 217px; overflow: hidden; display: block;">
               <%- post.post %>
           </p>
           <a href="u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">阅读全文</a>
           </div>
       </div>
       <% }) %>
       </div>
   </div>
<%- include footer %>
